---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="About
      Flap UI is an Open Source Component Library & Design System for HTML, Astro & React built on top of Tailwind CSS."
    />
    <title>Flap UI — Open Source Tailwind CSS Component Library</title>
  </head>
  <body class="bg-white dark:bg-gray-900">
    <!-- <AppHeader /> -->
    <slot />
    <!-- <AppFooter/> -->
  </body>
</html>
